:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(#a1d3b0, #f6f1d3);

}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Shaheer's UI for Portals */

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 16.875em); 
  gap: 4em; 
  margin-left: 0px;
  margin-top: 75px;
  margin-right: 50px;
}
.Realgrid{
  display: flex;
  flex-direction: row;
}
.item-header {
  margin-left: 0.8125em; 
  font-size: 1.125rem; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  padding: 10px;
}

.item-icon {
  margin-top: 3.125em; 
  margin-left: 6.25em; 
}

.it-1, .it-2, .it-3, .it-4 {
  border-radius: 1.25em;
}

.it-1 {
  background: linear-gradient(145deg, #203658, #1b2d4a);
  box-shadow: 0.3125em 0.3125em 0.125em #0d1522, -0.3125em -0.3125em 0.125em #2f4f82;
}

.it-2 {
  background: linear-gradient(145deg, #981c48, #80173c);
  box-shadow: 0.3125em 0.3125em 0.125em #3c0b1c, -0.3125em -0.3125em 0.125em #e0296a;
}

.it-3 {
  background: linear-gradient(145deg, #98841c, #806f17);
  box-shadow: 0.3125em 0.3125em 0.125em #3c340b, -0.3125em -0.3125em 0.125em #e0c229;
}

.it-4 {
  background: linear-gradient(145deg, #25593e, #204b34);
  box-shadow: 0.3125em 0.3125em 0.125em #0f2318, -0.3125em -0.3125em 0.125em #37835c;
}
